.conteiner-perfil {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.perfil-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    width: max-content;
}

.card-perfil {
    /* background-color: rgb(255, 255, 255); */
    margin-left: 30vw;
    margin-top: -40vh;
    height: 40vh;
    width: 25vw;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    align-items: center;

    border: 0.5vh solid black;
    padding: 1vh 1vw;
    text-align: start;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );

}

.card-perfil p {
    font-size: 4vh;
    margin-left: 0vw;
    color: white;
}

.suportee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
    padding: 1vh 1vw;
    align-items: center;
}

.ferramenta, .manual {
    align-items: center;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: max-content;
   
    width: 20vw;
    padding: 1vh 1.5vw;
    text-align: center;
    margin-left: 5vw;
    border-radius: 5vh;
    
    border: 0.5vh solid black;
    font-size: 3vh;
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    color: white;
}

.manual {
    margin-left: 18vw;
}
.ferramenta {
    margin-left: 10vw;
}
.suportee a{
    
    color: white;
}


.card-perfil:hover {
    transform: scale(1.03);
    box-shadow: 0.5vh 0.5vw 0.5vh 0.5vw rgba(0, 0, 0, 0.35);
}

.ferramenta:hover{
    transform: scale(1.03);
    box-shadow: 0.5vh 0.5vw 0.5vh 0.5vw rgba(0, 0, 0, 0.35);
}

.manual:hover{
    transform: scale(1.03);
    box-shadow: 0.5vh 0.5vw 0.5vh 0.5vw rgba(0, 0, 0, 0.35);
}
