.banner {
    height: 120vh;
    background-image: url("imgs/fundo-site.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner_calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    font-size: 2.5vh;
    margin-top: -15vh;
}

.card_calculadora {
    padding: 3vh 1vw;
    margin-top: -15vh;
    width: 38vw;
    height: max-content;
    background: rgba(88, 88, 88, 0.151);
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.5vh black solid;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    position: absolute;
    backdrop-filter: blur(2vh);
    -webkit-backdrop-filter: blur(2vh);
    transition: all 0.8s;
    color: white;
}
.card_calculadora h2{
    margin-top: -1vh;
}
/* animação */
.card_calculadora:hover {
    transform: scale(1);
    box-shadow: 1vh 1vw 1vh 1vw  #262626
}

.card_calculadora input {
    border: 0.5vh black solid;
    border-radius: 5vh;
    padding: 0.8vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    
}

button {
    height: 6.5vh;
    color: white;
    text-align: center;
    width: 8vw;
    margin-top: 1.5vh;
    background-color: black;
    border: 0.5vh black solid;
    border-radius: 5vh;
    cursor: pointer;
    background: linear-gradient(to right, black, rgb(43, 41, 41));
    font-size: 2vh;
}

button span {
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5vh;
    transition: 0.5s;
}

button:hover span {
    padding-right: 3vh;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

#msg {
    color: white;
}


